.all-mentors {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 3%;
}
.mentors-heading {
  padding: 2%;
}
.mentor-table {
  /* border: 1px solid; */
  width: 80%;
  height: 350px0;
  margin-bottom: 20px;
  border-radius: 10px;
  overflow: auto;
}
.mentor-table-header {
  display: flex;
  margin: 2px;
}
.mentor-col-heading {
  padding: 10px;
  text-align: center;
  background-color: #dadada;
  font-weight: bold;
}
.mentor-table-data {
  display: flex;
  margin-bottom: 5px;
}
.mentor-col-data {
  padding: 10px;
  text-align: center;
  word-break: break-all;
}
.add-button,
.view-button {
  background-color: #060b26;
  border: 1px solid #060b26;
  color: white;
}
.add-button:hover,
.view-button:hover {
  background-color: #1a83ff;
  border: 1px solid #1a83ff;
}
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
}
